/* similar and utility */
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}



/* ---------------
   top section
--------------- */
.top-section {
    color: whitesmoke;
    background-color: #161616;
    border-radius: 30px;
    Width: 1320px;
    display: flex;
    width: 50%;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;

}

.top-title,
.top-banner {
    width: 50%;
}

h1 {
    font-size: 38px;
}

.top-banner img {

    width: 581px;
    height: 613px;
}

.watch-live {
    font-size: 20px;
    justify-content: center;
    align-items: center;
}



/* --------------------------
   blog and stream section
--------------------------- */
.middle-section {
    display: flex;
}

.event-box {
    width: 312px;
    height: 312px;
    background-color: black;
    margin: 30px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.event {
    margin: 17px, 29px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;

}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}